[project]
name = "leetcode-problems"
version = "0.1.0"
description = "Solutions to leetcode problems"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=8.4.1",
]
